@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Grenze Gotisch", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a4163;
    --secondary-color: #cbe3ef;
    --background-color: #edf3fb;
    --button-color: #5aa8d6;    
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  background-color: var(--background-color); /* Apply background color */
}
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}
button {
  background-color: var(--button-color);
  color: var(--secondary-color); /* Set the text color to secondary color */
  border: none; /* Optional: Remove default border */
  padding: 10px 20px; /* Optional: Add padding */
  cursor: pointer; /* Optional: Change cursor to pointer */
}

button:hover {
  background-color: darken(var(--button-color), 10%); /* Optional: Darken button color on hover */
}

.navbar, footer {
  background-color: var(--button-color); /* Apply button color as background color */
  color: var(--secondary-color);  /* Set the text color to secondary color */
}

.gi-image {
  display: block;
  max-height: 400px;
  height: auto;
  width: auto;
}

#contactPage {
  padding: 5vw;
}

#contactForm {
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 5vw;
}

#contactPage h1 {
  font-family: var(--primary-font);
}

.modal-content {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  .gi-image {
    object-fit: contain;
    display: block;
    height: 200px;
  }
}

@media (max-width: 991px) {
  .gi-image {
    object-fit: contain;
    display: block;
    height: 300px;
  }

  .touch-image {
    object-fit: contain;
    display: block;
    height: 200px;
  }
}

/* ----------------MAP STYLING---------------- */

#map-container {
width: auto;
min-width: 100%;
height: 100vh;
overflow-x: auto;
overflow-y: hidden;
display: block;
}


.info-box {
position: sticky;
top: 200px;
right: 20px;
background: white;
border: 1px solid white;
border-radius: 5px;
padding: 10px 15px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
font-size: 14px;
}

.highlighted {
fill: green;
opacity: 0.5;
}

@media (max-width: 768px) {
#map-container {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
}
}

